/* ==========================================================================
   #COLORS
   ========================================================================== */

/**
 *  Make sure you don't specify reserved CSS color names as the key as SASS
 *  will try to parse it...
 */

$colorMap: (
  base: (
    description: 'Base gray color',
    100: #F1F3F3,
    200: #E6E9EA,
    300: #DBDFE0,
    400: #C3C9CB,
    500: #A5AFB1,
    600: #849195,
    700: #6A787B,
    800: #475052,
    900: #3B4345,
  ),
  brand: (
    description: '',
    dark: #00A88B,
    base: #00CF5F,
    light: #00D3A9,
    lighter: #66FFE5,
    lightest: #B3FFF2
  ),
  turquoise: (
    description: '',
    base: #00D3A9,
    light: #66FFE4
  ),
  text: (
    description: '',
    base: #3B4345
  ),
  orange: (
    description: '',
    base: #FF9E33
  ),
  yellow: (
    description: '',
    base: #F5C000
  ),
  red: (
    description: '',
    base: #F0554B
  )
);
