// light
@font-face {
  font-family: 'rubrik-new', sans-serif;
  font-style: normal;
  font-weight: 300;
}

// regular
@font-face {
  font-family: 'rubrik-new', sans-serif;
  font-style: normal;
  font-weight: 400;
}

// medium
@font-face {
  font-family: 'rubrik-new', sans-serif;
  font-style: normal;
  font-weight: 500;
}

// semibold
@font-face {
  font-family: 'rubrik-new', sans-serif;
  font-style: normal;
  font-weight: 600;
}

// bold
@font-face {
  font-family: 'rubrik-new', sans-serif;
  font-style: normal;
  font-weight: 700;
}