/* ==========================================================================
   #SPACING
   ========================================================================== */

$spacingMap: (
  tiny: $inuit-global-spacing-unit-tiny,
  small: $inuit-global-spacing-unit-small,
  default: $inuit-global-spacing-unit,
  large: $inuit-global-spacing-unit-large,
  huge: $inuit-global-spacing-unit-huge
);
