// Reassign `$inuit-global-spacing-unit` to `$space`.
$space: $inuit-global-spacing-unit;
$space-tiniest: $inuit-global-spacing-unit-tiniest;
$space-tiny: $inuit-global-spacing-unit-tiny;
$space-small: $inuit-global-spacing-unit-small;
$space-large: $inuit-global-spacing-unit-large;
$space-huge: $inuit-global-spacing-unit-huge;
