.u-margin-auto {
  margin-left: auto;
  margin-right: auto;
}

// float
.u-float-right {
  float: right;
}
.u-float-left {
  float: left;
}

.u-text-center {
  text-align: center;
}

.u-flex {
  display: flex;
}

.u-flex-grow {
  flex-grow: 1;
}

.u-relative {
  position: relative;
}

.u-color-white {
  color: #fff;
}

.u-scroll-lock {
  overflow: hidden;
}

.u-pointer {
    cursor: pointer;
}