///* ========================================================================
//   #TYPOGRAPHY
//   ======================================================================== */
// Utilities specifically for typographic use cases.

.u-text-right {
  text-align: right;
}
.u-text-left {
  text-align: left;
}
.u-text-center {
  text-align: center;
}

.u-fw-bold {
    font-weight: 700;
}

.u-fs-large {
    font-size: 18px;
}
