.c-transaction {
    display: flex;

    &__icon {
        align-items: baseline;
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        margin-right: $space-tiny;
        margin-top: $space-tiniest;
        width: 40px;
        
        .bx::before {
            color: color(base, 400);
            display: block;
            font-size: 20px;
            margin-top: -4px;
        }
    }

    &__body {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }

    &__timestamp {
        color: color(base, 500);
        line-height: 12px;
        margin-bottom: $space-tiniest;
    }

    &__description {
        flex-grow: 1;
    }

    &__reward {
        align-self: first baseline;
        color: color(yellow);
        font-size: 14px;
        font-weight: 600;
        margin-left: $space-tiny;
        text-align: right;
    }
}