.c-heading-list-group {
    color: color(brand, light);
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.c-heading-large {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: $space-tiny;
    text-align: center;
}

.c-heading-tokens-sub {
    color: color(brand, lightest);
    text-align: center;
    font-size: 1.2em;
    line-height: 20px;
    margin-bottom: $space-small;
}
