.c-price-indicator {
    position: absolute;
    text-align: right;
    width: 100%;
    z-index: -1;

    &__label {
        align-items: center;
        color: #fff;
        display: flex;
        font-size: 10px;
        font-weight: 600;
        justify-content: flex-end;
        padding: $space-tiny;
        position: relative;
        text-transform: uppercase;

        &:hover {
            color: red;
        }
    }
    
    &__icon {
        color: #fff;
        font-size: 1rem;
        opacity: .7;
        padding: $space-tiny;
    }
    
    &__bg,
    &__overlay,
    &__circle {
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        padding-bottom: 66%;
        position: absolute;
        width: 100%;
    }
    &__bg {
        background-image: linear-gradient(180deg, #00DDB7 48%, #00B881 100%);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    &__overlay {
        background-image: url(../static/images/circle-overlay.svg);
        background-repeat: no-repeat;
        background-size: cover;
        mix-blend-mode: multiply;
    }

    &__circle {
        background-image: url(../static/images/circle-shape.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    &--green {
        background-image: linear-gradient(180deg, #00DDB7 48%, #00B881 100%);
    }
    &--orange {
        background-image: linear-gradient(180deg, #FF8229 48%, #D65900 100%);
    }
}
