<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>EnergyTree</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://use.typekit.net/zyz4axi.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@1.9.3/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <div class="flex-wrapper">
        <div class="u-1/2">
            <%= circle_chart("30 %", 50, "battery", "charging", ["c-circular-chart--green"], ["c-circular-chart__sublabel--orange"]) %>
        </div>

        <div class="u-1/2">
            <%= circle_chart(40, 50, "tokens", "earned today", ["c-circular-chart--grey"], []) %>
        </div>
    </div>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
