<%= if @navigation.page == :signed_out do %>
  <%= render "choose_user.html", assigns %>
<% end %>
<%= if @preferences do %>
  <%= if @preferences.has_ev? do %>
    <%= if @navigation.page == :dashboard do %>
      <%= render "dashboard.html", assigns %>
    <% end %>
    <%= if @navigation.page == :tokens do %>
      <%= render "tokens.html", assigns %>
    <% end %>
  <% end %>
  <%= if !@preferences.has_ev? do %>
    <%= render "simplified_dashboard.html", assigns %>
  <% end %>

<% end %>
