<button phx-click="toggle_menu">Menu</button>
<%= if @show_menu? do %>
  Menu open
<% else %>
Menu closed
<% end %>
<div>Traffic Light</div>
<div> Battery Indicator </div>
<div> 30% </div>
<div> 40 tokens </div>
<div Charging Mode </div>
<h1> <%= @user.name %>
</h1>
Current time: <%= @time %>

<form phx-change="changed_name" >
<input name="q" placeholder="name" value="<%= @title %>" />
</form>

<h2>
In Trytes: <%= to_trytes(@title) %>
</h2>
