<h3>
  Onboarding2
</h3>
<form phx-change="change_onboarding" phx-submit="finish_onboarding">
  <input name="nicety" type="radio" value="0" <%= unless @preferences.neighbour_friendly?, do: "checked" %>/>
  <input name="nicety" type="radio" value="1" <%= if @preferences.neighbour_friendly?, do: "checked" %>/>
  <button >Start Saving!</button>
</form>
